<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="/Scripts/compute.js"></script>
	<style type="text/css">
	.casuta{
		width:100px;
		height:100px;
		border: 0.1px solid;
	}
	</style>
</head>
<body>
<div id="stepnr" style="height:18px"></div>
<br/>
<div>
    <audio id="myAudio-1">
        <source src="/Content/1.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-2">
        <source src="/Content/2.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-3">
        <source src="/Content/3.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-4">
        <source src="/Content/4.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-5">
        <source src="/Content/5.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-6">
        <source src="/Content/6.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-7">
        <source src="/Content/7.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-8">
        <source src="/Content/8.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-9">
        <source src="/Content/9.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>

    <audio id="myAudio-1-1">
        <source src="/Content/1.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-2-1">
        <source src="/Content/2.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-3-1">
        <source src="/Content/3.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-4-1">
        <source src="/Content/4.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-5-1">
        <source src="/Content/5.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-6-1">
        <source src="/Content/6.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-7-1">
        <source src="/Content/7.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-8-1">
        <source src="/Content/8.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
    <audio id="myAudio-9-1">
        <source src="/Content/9.mp3" type="audio/mp3"><!-- http://media.io/ -->
    </audio>
</div>

<input value="@ViewBag.Level" id="inputLevel"/>
	<button onclick="start()">start</button>
<br/>
<br/>
<h1 id="audioNr" style="padding-left: 150px"></h1>
    
<table style="margin: 0 auto;">
    <tr>
        <td id="1" class="casuta">

        </td>
        <td id="2" class="casuta">

        </td>
        <td id="3" class="casuta">

        </td>
    </tr>
    <tr>
        <td id="4" class="casuta">

        </td>
        <td id="5" class="casuta">

        </td>
        <td id="6" class="casuta">

        </td>
    </tr>
    <tr>
        <td id="7" class="casuta">

        </td>
        <td id="8" class="casuta">

        </td>
        <td id="9" class="casuta">

        </td>
    </tr>
</table>
    <br/><br/><br/>
    <div id="timpi"></div>
    <div id="results" style="margin: 0 auto;"></div>

</body>
</html>